<h1><%= session[:position_search] %>'s</h1>

<form action="/rosters/player_search" method="GET">
  <input type="text" name="player_search_name" >
  <input type="submit" value="Search for Player">
</form>
<br>

<form action="/rosters/player_search" method="GET">
  <label for="team_filter">Filter By Team</label>
  <select name="team_filter">
    <% @teams.each do |team| %>
      <option value="<%= team.code %>"><%= team.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Submit">
</form>
<br>

<%= link_to "Clear Filter Options", search_clear_path %><br>

<% @teams.each do |team| %>
  <h2>
    <%= team.name %>
  </h2>
  <ul>
    <% @players.where(team: team.code).each do |player| %>
      <li>
        <%= link_to "#{player.name} | #{player.position}", player %>
      </li>
    <% end %>
  </ul>
<% end %>
