<h1>Create New User</h1>

<%= render "errors" %>

<%= form_for @user do |f| %>
  <%= f.label :username %> <br>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %> <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label :location %> <br>
  <%= f.text_field :location %>
  <br>
  <%= f.label :age %> <br>
  <%= f.number_field :age %>
  <br>
  <%= f.label :gender %> <br>
  <%= f.text_field :gender %>
  <br>
  <%= f.label :bio %> <br>
  <%= f.text_area :bio %>
  <br>
  <%= f.submit %>
<% end %>
