<h1> <%= @user.username %>'s Profile </h1>

<% if session[:user_id] == @user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>

<br>

<%= render "./shared/errors" %>

<p> Bio: <%= @user.bio %> </p>
<p> Age: <%= @user.age %></p>
<p> Gender: <%= @user.gender %></p>
<p> Location: <%= @user.location %></p>
<p> Rosters: </p>
<ul>
  <% @user.rosters.each do |roster| %>
    <li>
      <%= link_to roster.team_name, roster %>
    </li>
  <% end %>
</ul>

<% if @user.id == session[:user_id] %>
<p> Pending Trade Requests: </p>
  <ul>
    <% @user.find_trades.each do |trade| %>
      <li>
        <b><%= RosterPlayer.find(trade.given_player_id).roster.user.username %></b> has offered to trade <b><%= RosterPlayer.find(trade.given_player_id).player.name %></b> for <b><%= RosterPlayer.find(trade.received_player_id).player.name %></b> | <%= link_to "Accept", process_trade_path(trade_id: trade.id, trade_response: "accept") %> | <%= link_to "Decline", process_trade_path(trade_id: trade.id, trade_response: "why is this line so long?") %>
      </li>
    <% end %>
  </ul>
<% end %>
