<h1> <%= @user.username %>'s Profile </h1>

<% if session[:user_id] == @user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>

<br>

<%= render "./shared/errors" %>

<p> Bio: <%= @user.bio %> </p>
<p> Age: <%= @user.age %></p>
<p> Gender: <%= @user.gender %></p>
<p> Location: <%= @user.location %></p>
<p> Rosters: </p>
<ul>
  <% @user.rosters.each do |roster| %>
    <li>
      <%= link_to roster.team_name, roster %>
    </li>
  <% end %>
</ul>
