<h1>NFL Players</h1>

<form action="/players" method="GET">
  <input type="text" name="search_name" >
  <input type="submit" value="Search for Player">
</form>
<br>

<form action="/players" method="GET">
  <label for="filter">Filter Options</label>
  <select id="filter" name="filter">
    <option value="position" <%= "selected" if session[:filter] == "position" %>>Filter by Position</option>
    <option value="team" <%= "selected" if session[:filter] == "team" %>>Filter by Team</option>
  </select>
  <% if session[:filter] == "position" %>
    <select name="filter_option">
      <option value="QB">Quarterbacks</option>
      <option value="RB">Running Backs</option>
      <option value="WR">Wide Recievers</option>
      <option value="TE">Tight Ends</option>
      <option value="K">Kickers</option>
      <option value="DEF">Defenses</option>
    </select>
  <% elsif session[:filter] == "team" %>
    <select name="filter_option">
      <% @teams.each do |team| %>
        <option value="<%= team.code %>"><%= team.name %></option>
      <% end %>
    </select>
  <% end %>

  <input type="submit" value="Submit">
</form>
<%= link_to "Clear Filter Options", clear_path %>

<% @teams.each do |team| %>
  <h2>
    <%= team.name %>
  </h2>
  <ul>
    <% @players.where(team: team.code).each do |player| %>
      <li>
        <%= link_to "#{player.name} | #{player.position}", player %>
      </li>
    <% end %>
  </ul>
<% end %>
