<h1> <%= @player.name %> | <%= @player.team %> </h1>

<% if session[:position_search] %>
  <%= link_to "Add to Roster", add_player_path(player_id: @player.id) %><br>
  <%= link_to "Back to  #{session[:position_search]}'s", player_search_path %>
<% end %>

<br>

<ul>
  <li>
    Position: <%= @player.position %>
  </li>
  <li>
    DOB: <%= @player.dob %>
  </li>
  <li>
    Height: <%= @player.height %>
  </li>
  <li>
    Weight: <%= @player.weight %>
  </li>
  <li>
    Jersey: <%= @player.jersey %>
  </li>
  <li>
    College: <%= @player.college %>
  </li>

</ul>
