<h1> <%= @player.name %> | <%= @player.team %> </h1>

<ul>
  <li>
    Position: <%= @player.position %>
  </li>
  <li>
    DOB: <%= @player.dob %>
  </li>
  <li>
    Height: <%= @player.height %>
  </li>
  <li>
    Weight: <%= @player.weight %>
  </li>
  <li>
    Jersey: <%= @player.jersey %>
  </li>
  <li>
    College: <%= @player.college %>
  </li>

</ul>
