<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Sports Ball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <p> Currently Logged In: <%= User.find(session[:user_id]).username %> | <%= link_to "Logout", logout_path_url %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
