<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Sports Ball</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span>
      <%= link_to "Players", players_path %> | <%= link_to "Teams", teams_path %> |
        <% if session[:user_id] %>
          <%= link_to "Create New Roster", new_roster_path %>
        <% end %>
    </span>
    <span>
      <% if session[:user_id] %>
        Currently Logged In: <%= link_to User.find(session[:user_id]).username, User.find(session[:user_id]) %> | <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %> | <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </span>

    <%= yield %>
    
  </body>
</html>
